:root {
    --primary-base: #292929;
    --primary-1: #4F4E4E;
    --primary--1: #606060;
    --primary--2: #818181;
    --primary--3: #E1E0E0;
    --primary--4: #F8F8F8;
    --secondary-1: #58C93A;
    --secondary-2: #E5E5E5;
    --secondary-3: #516FAD;
}