.card {
    display: grid;
    grid-template-columns: 1fr;
}

.card .card-title {
    font-size: 1.2em;
    grid-row: 2;
}

.card .card-text {
    grid-row: 3;
}

.card .card-image {
    align-self: stretch;
    object-fit: cover;
}

.card .card-btn {
    grid-row: 4;
    min-width: min-content;
    place-self: start;
    margin-top: auto;
}