.card {
    display: grid;
    grid-template-columns: minmax(600px, 1fr);
}

.card > * {
    width: 100%
}
.card .card-image {
    grid-row: 1;
}

.card .card-title {
    grid-row: 2;
}

.card .card-text {
    grid-row: 3;
}

.card .card-btn {
    grid-row: 4;
    width: 190px;
}